.alcher_logo{
   display: flex;
   flex-direction: row;
   position: absolute;
   top: 1.5%;
   left: 30%;
   
   
}
.alcher_logo img{
    margin: 0 auto 0 auto;
    width: 45vw;
    height: 45vh;
}

// #img-2-w-0{
//     position:relative;
//     z-index:5;
// }
#img-1-astro-0{
    // transform:translateX(0.04vw)
}
// #img-3-w-1{
//     transform:translate(50%,40%);
//     width:50%;
//     @media(max-width: 500px){
//         transform: translate(20%, 18%);
//     }
// }
.v2n-container-main {
    // background-color: black;
    height: 100vh;
    @media (max-width:800px){
        height:auto
            }
    width: 100vw;
    color: aliceblue;
    z-index:4;
}

.v2n-wrapper-main {
    height: 100vh;
    width: 100vw;
    // padding-right: 2vw;
    position: absolute;
    @media (max-width:800px){
        position:relative;
        height: 80vh;
    }
    // display: grid;
    // grid-template-columns: 50% 50%;
    // justify-content: space-between;
    // z-index: 10;
}

.v2n-wrapper-right {
    position: relative;
    @media (max-width:800px){
        opacity:0;
            }
}

// .v2n-wrapper-left {
//     position: relative;
//     color: white;
//     height: 100vh;
//     z-index:10;
//     @media (max-width:800px){
//         opacity:0;
//             }
// }

// .v2n-wrapper-left .img-l {
//     width: 100%;
//     height: 100%;           
// }

// .v2n-wrapper-left h1 {
//     position: absolute;
//     top: 40%;
//     left: 38%;
//     font-size: 4vw;
//     font-weight: 900;
//     letter-spacing:3px;
//     opacity: 0;
//     white-space: nowrap;
    
//     transform: scale(1, 1.4);
//     @media (max-width:800px){
//         opacity:1;
//         // letter-spacing:5px;
//             }
// }

// .v2n-wrapper-left p {
//     position: absolute;
//     top: 52%;
//     left: 38%;
//     opacity: 0;
//     font-size: 1.3rem;
//     max-width: 45ch;
//     @media (max-width:800px){
//         opacity:1
//             }
// }

.v2n-wrapper-right {
    width: 100vw;
    height: 100vh;
}

.v2n-wrapper-right > div {
    // top: 50%;
    // right: 0;
    // margin-right: 7vw;
    // position: absolute;
    display: flex;
    // transform: translate(0, -50%);
}

// .v2n-wrapper-right .img-1-w {
//     height: 40vw;
//     margin-right: -20vw;
//      opacity: 0;
//    @media(max-width: 800px){
//        opacity: 1;
//    }
// }

// .v2n-wrapper-right .img-1 {
//     width: 100%;
//     height: 100%;
//     object-fit: contain;
// }

.v2n-wrapper-right .img-2-w {
   opacity: 0;
//    margin-top: 3vw;
    height: 100vh;
    width: 100vw;
    
   @media(max-width: 800px){
       opacity: 1;
   }
}
// .v2n-wrapper-right .img-3-w {
//    opacity: 0;
//    top: 50%;
//     right: 0;
//     position: absolute;
//     width: 15vw;
//     transform: translate(50%, 85%);
//     @media(max-width: 500px){
//         transform: translate(0%, 85%);
//     }
//    @media(max-width: 800px){
//        opacity: 1;
//    }
// }
// .v2n-wrapper-left .img-l-w {
//    opacity: 0;
//    position: absolute;
//     bottom: 0;
    
//     height: 36vw;
//             @media (max-width:800px){
//                 display: none;
//             }
//    @media(max-width: 800px){
//        opacity: 1;
//    }
// }

.v2n-wrapper-right .img-2 {
    width: 100vw;
    height: 100vh;
    // overflow: hidden;
}

// .v2n-wrapper-right img {
//    object-fit: contain;
// }

// .v2n-wrapper-right .img-3 {
//     width: 100%;
//     height: 100%;
// }

/* mobile */
@media only screen and (max-width: 500px) {
    .v2n-wrapper-main{
        margin-top: 15vh;
    }
    // .v2n-wrapper-left .img-l-w {
      
    //     height: 70vw;
    // }
    // .v2n-wrapper-left img {
    //     position: absolute;
    //     bottom: 0;
    //     height: 65%;
    // }
    // .v2n-wrapper-left h1 {
    //     top: 10vw;
    //     left: 0;
    //     right: 0;
    //     text-align: center;
    //     font-size: 8vw;
    // }
    // .v2n-wrapper-left p {
    //     top: 22vw;
    //     left: 0;
    //     right: 0;
    //     margin: auto;
    //     text-align: center;
    //     font-size: 1.3rem;
    //     padding:1rem;
    // }
    .v2n-wrapper-main {
        display: flex;
        flex-direction: column-reverse;
        gap:50px;
    }
    .v2n-wrapper-right > div {
        width: 100%;
        margin-top: 5vw;
        margin-right: 0;
    }
    .v2n-wrapper-right .img-1-w {
        height: 50vw;
        position: absolute;
        bottom: -3vw;
        left:8vw;
    }
    .v2n-wrapper-right .img-2-w {
        height: 80vw;
        // margin: auto;
        
    }
    
    .v2n-wrapper-right .img-3-w {
        top: 65%;
        right: 10%;
        position: absolute;
        width: 25vw;
    }
}
.events-trigger{
    
    width: 100vw;
    height:10vh;
   
    @media(max-width:800px){
        display:none;
    }
}

// #event-trigger-2{
//     height: 240vh !important;
// }