
  
.main-container {
  display: flex;
  
  height: 100vh;
width: 100vw;
}


.description {
    width: 50vw;
  
  font-family: 'Sequel Sans';
  font-style: normal;
  font-weight: 415;
  font-size: 2vw;
  margin-top: 20vh;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  margin-left: 25vw;
  color: #FFFFFF;
  
  text-shadow: 1px 4px 42px #000000;
  }
  