
  




.description {
    width: 50vw;
  z-index: 4;
  font-family: 'Sequel Sans';
  font-style: normal;
  font-weight: 415;
  font-size: 2vw;
  margin-top: 20vh;
  z-index: 5;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
 user-select: none;
  color: #FFFFFF;
  cursor: pointer;

 
  
  text-shadow: 1px 4px 42px #000000;
  }
  .geet{
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
  }
  .a-scene{
    display: flex !important;
  }
  html.a-fullscreen .a-canvas {
    position:relative !important;
    zoom: 80% !important;
   
  }
  .a-enter-vr-button{
    display: none;
  }
  canvas{
    aspect-ratio:  1600px /500px; ;
  }
  html.a-fullscreen body {
    height: auto !important;
    overflow: auto !important;
  }
  html.a-fullscreen {
    position: relative !important;
    overflow-x:hidden !important ;
  }